<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificador Animales</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Clasificador de Animales</h1>
    </header>

    <div>

        <div class="section_1">
            <p>El modelo funciona detectando las siguientes <strong>especies</strong>:</p>

            <ul class="lista_animales">
                <li>Mariposa</li>
                <li>Gato</li>
                <li>Gallina</li>
                <li>Vaca</li>
                <li>Perro</li>
                <li>Elefante</li>
                <li>Caballo</li>
                <li>Araña</li>
                <li>Oveja</li>
                <li>Ardilla</li>
            </ul>
        </div>

        <section class="section_formulario">
            <p>¡Prueba a subir una imagen al formulario!</p>


            <div class="cuadro_formulario">
                <form action="/clasificarImagen">
                    <h2 class="form__title">Detecta al animal de la imagen</h2>
                    
                    
                    <div class="form__container">
                        <div class="div-imagen">
                            <input type="file" name="imagen" id="imagen" accept="image/*">
                        </div>
    
                        <div class="botones">
                            <input class="botones__enviar" type="submit" value="Subir Imagen">
                            <input class="botones__limpiar" type="reset" value="Limpiar">
                        </div>
                    </div>

                </form>
    
            </div>

            <div class="flecha-animada" id="flecha-animada"></div>


            <div class="imagen">
                <img class="imagen-cargada" id="imagen-cargada" style="display: none;" />
            </div>


        </section>

    </div>


    <footer>
        <p>David Padilla Muñoz</p>
    </footer>




    <script>
        // Obtén una referencia al elemento de entrada de archivo
        const inputImagen = document.getElementById('imagen');
        
        // Obtén una referencia al elemento de imagen donde se mostrará la imagen cargada
        const imagenCargada = document.getElementById('imagen-cargada');
    
        // Obtén una referencia al botón "Limpiar"
        const botonLimpiar = document.querySelector('input[type="reset"]');
            
        // Agrega un evento change al elemento de entrada de archivo para detectar cuando se carga una imagen
        inputImagen.addEventListener('change', (event) => {
            // Verifica si se ha seleccionado una imagen
            if (event.target.files.length > 0) {
                // Obtén la URL de la imagen cargada
                const imageUrl = URL.createObjectURL(event.target.files[0]);
                
                // Muestra la imagen en el elemento de imagen
                imagenCargada.src = imageUrl;
                
                // Muestra el elemento de imagen
                imagenCargada.style.display = 'block';

                // Muestra la flecha animada
                const flechaAnimada = document.getElementById('flecha-animada');
                flechaAnimada.style.display = 'block';
            } else {
                // Oculta la flecha animada si no hay imagen seleccionada
                const flechaAnimada = document.getElementById('flecha-animada');
                flechaAnimada.style.display = 'none';
            }
            
        });
    
        // Agrega un evento click al botón "Limpiar" para ocultar la imagen
        botonLimpiar.addEventListener('click', () => {
            // Oculta la imagen
            imagenCargada.style.display = 'none';

            const flechaAnimada = document.getElementById('flecha-animada');
            flechaAnimada.style.display = 'none';
        });
    </script>

    
</body>


</html>